@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        font-family: "Roboto", sans-serif;
    }
    .text-shadow-yellow {
        text-shadow: 0px 0px 2px white;
    }
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-track {
        background: #fffada;
    }
    ::-webkit-scrollbar-thumb {
        background: #c08267;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #a0583c;
    }
    input::placeholder {
        color: #ffffff;
        z-index: 10;
        font-size: 1.2rem;
    }
}
@layer utilities {
    .container {
        @apply max-w-container mx-auto;
    }
    .flex-center {
        @apply flex items-center justify-center;
    }
    .flex-center-x {
        @apply flex justify-center;
    }
    .flex-center-y {
        @apply flex items-center;
    }
    .absolute-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .absolute-center-x {
        @apply absolute top-0 left-1/2 -translate-x-1/2;
    }
    .absolute-center-y {
        @apply absolute top-1/2 left-0 -translate-y-1/2;
    }
}
